.webButtons {
  width: 38px;
  margin-left: 10px;
  background-color: #deebf3;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.webButtons svg {
  color: #088dcd;
}
.webButtons a {
  width: inherit;
  height: inherit;
}