.secNav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: #e1e8ed 1px solid;
    margin-bottom: 80px;
  }

.pageCaro ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
.nav {
    padding: 10px;
    background-color: #fafafa;
    text-decoration: none;
  }