.secNav {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 60vw 1fr;
  grid-template-areas: 
  'b c i';
  padding: 0 15px 0 15px;
  /* justify-content: space-between; */
  border-bottom: #e1e8ed 1px solid;
  margin-bottom: 30px;
}
.burger {
  grid-area: b;
} 
.burger a {
  justify-content: flex-start;
}
.pageCaro {
  grid-area: c;
  display: flex;
  height: 100%;
  list-style: none;
  }
.pageCaro > div {
  flex-grow: 1;
}
.pageCaro a {
  justify-content: center;
}
.pageCaro svg {
  fill: rgba(8, 141, 205, 0.09);
}


  
/* .nav {
    padding: 10px;
    background-color: #fafafa;
    text-decoration: none;
  } */
