.content {
  margin-top: 15px;
}
.header {
  /* display: inline-block; */
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
  width: 100%;
}
.text {
  /* display: inline-block; */
  color: #7d7e9e;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;
  font-weight: 300;
}
.link {
  color: inherit;
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
.captureLink {
  display: inline-block;
  width: 100%;
}
.captureLink img{
  display: block;
  width: 100%;
}
.pictures img {
  display: block;
  width: 100%;
}

/* on vh */


/* .pictures.two, .pictures.three, .pictures.four, .pictures.many {
  display: grid;
  width: 100%;
}
.imgCont {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.pictures.many{
  grid-template-columns: 1.4fr 1fr;
  gap: 4px;
}
.fst, .snd{
  height: 60vh;
  display: grid;
  gap: 4px;
}
.many .fst {
  grid-template-rows: 1fr 1fr;
}
.many .snd {
  grid-template-rows: 1fr 1fr 1fr;
}
.many .fst img, .many .snd img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


/* on vh, v.2 */


.pictures.two, .pictures.three, .pictures.four, .pictures.five {
  display: grid;
  width: 100%;
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: 20vh 10vh 10vh 20vh;
  gap: 4px;
}
.imgCont {
  /* overflow: hidden; */
  background-color: lawngreen;
  width: 100%;
  height: 100%;
}
.pictures.five {
  grid-template-areas: 
  'i1 i3'
  'i1 i4'
  'i2 i4'
  'i2 i5';
}
.pictures.two {
  grid-template-areas: 
  'i1 i2'
  'i1 i2'
  'i1 i2'
  'i1 i2';
}
.pictures.three {
  grid-template-areas: 
  'i1 i2'
  'i1 i2'
  'i1 i3'
  'i1 i3';
}
.pictures.four {
  grid-template-areas: 
  'i1 i2'
  'i1 i3'
  'i1 i3'
  'i1 i4';
}
.five .img:first-child, 
.two .img:first-child, 
.three .img:first-child, 
.four .img:first-child {
  grid-area: i1;
}
.five .img:nth-child(2),
.two .img:nth-child(2),
.three .img:nth-child(2),
.four .img:nth-child(2) {
  grid-area: i2;
}
.five .img:nth-child(3),
.three .img:nth-child(3),
.four .img:nth-child(3) {
  grid-area: i3;
}
.five .img:nth-child(4),
.four .img:nth-child(4) {
  grid-area: i4;
}
.five .img:nth-child(5) {
  grid-area: i5;
  position: relative;
}
.many .img:last-child {
  cursor: pointer;
  position: relative;
}
.many .img:last-child div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 50px;
  background-color: #088fcdab;
  color: #fff;
}
.five .img,
.two .img,
.three .img,
.four .img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  /* object-fit: cover; */
}
