
  .info {
    height: min-content;
    grid-area: p;
    /* background-color: darkcyan; */
    display: flex;
    flex-direction: column;
  }
  .banner {
    position: relative;
    /* height: 300px; */
    margin-bottom: 15px;
    /* background-color: rgb(138, 138, 138); */
  }
  .banner img {
    display: block;
  }
  .banner > img {
    width: 100%;
    border-radius: 10px;
  }
  .avatar {
    position: absolute;
    bottom: 25px;
    left: 25px;
    border-radius: 100%;
    background-color: #fff;
    /* padding: 3px; */
  }
  .avatar img {
    height: 135px;
    border-radius: 100%;
    border: #fff 3px solid;
  }
  .nav {
    height: 80px;
    margin-bottom: 15px;
    background-color: rgb(138, 138, 138);
  }
  .about {
    height: 80px;
  }
  
  