*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}

/* .app_wrapper {
  display: grid;
  grid-template-areas: 
  'h h'
  'n m';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  height: 100vh;
} */

.header {
  padding: 10px;
  /* grid-area: h; */
  background-color: rgb(114, 163, 156);
}
.header img {
  
  width: 40px;
  /* z-index: 100; */
}

.header_container, .header_elements, .web-elements {
  display: flex;
}

.searches form {
  display: inline-block;
  /* border-radius: 5px; */
}
.searches input {
  padding: 10px 20px 10px 43px;
  border-style: solid;
  border-radius: 30px;
}

.header_elements {
  margin-left: 15px;
  justify-content: space-between;
  flex-grow: 1;
}

.web-elements {
  list-style: none;
  /* justify-content: space-between;
  flex-grow: 1; */
}

.secNav {
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.page-caro ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav {
  /* grid-area: n; */
  padding: 10px;
  background-color: rgb(114, 163, 156);
  text-decoration: none;
}

.main {
  display: grid;
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas: 
  'as p p'
  'as b a';
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: max-content max-content;
  grid-gap: 10px;
}
.aside {
  width: 100%;
  grid-area: as;
}

.profile-info {
  height: min-content;
  grid-area: p;
  /* background-color: darkcyan; */
  display: flex;
  flex-direction: column;
}
.img {
  height: 300px;
  margin-bottom: 10px;
}
.profile-info-nav {
  height: 80px;
  margin-bottom: 10px;
}
.about {
  height: 80px;
}
.profile-info > div {
  /* margin: 5px; */
  background-color: rgb(138, 138, 138);
}

.main-blog {
  grid-area: b;
}
.main-aside {
  grid-area: a;
}
.aside, .main-blog, .main-aside {
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  flex-direction: column;  
}

.blog, .block {
  /* height: 200px; */
  background-color:coral;
  margin-bottom: 10px;
}
.block {
  height: 200px;
}
.blog {
  height: 300px;
}

.main_img {
  width: 100%;
}

.content_wrapper {
  margin-bottom: 10px;
}

.footer {
  height: 200px;
  background-color: darkgray;
}