.main {
    display: grid;
    
    grid-template-areas: 
    'm p';
    grid-template-columns: 1fr 400px;
    /* grid-template-rows: max-content max-content; */
    grid-column-gap: 20px;
  }
  
  .aside {
    grid-area: p;
  }
  .aside {
    display: flex;
    flex-direction: column;
  }
  .main-content {
    display: flex;
    flex-direction: column;  
  }
  
  .post, .block {
    /* height: 200px; */
    background-color:coral;
    margin-bottom: 10px;
  }
  
  .img {
    width: 100%;
  }

  .widjet {
    padding: 15px 20px 20px 20px;
    margin-bottom: 30px;
    background-color: #fafafa;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    height: max-content;
  }