.main {
  display: grid;
  position: relative;
  grid-template-columns: calc(100% - 300px) minmax(300px, 20vw); 
  grid-column-gap: 20px;
}
.chats {
  display: flex;
  width: 100%;
  height: max-content;
  overflow-x: auto;
  padding-bottom: 10px;
}
.chatsAll {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  align-content: flex-start;
  
}
.chatsAll > div {
  margin-bottom: 15px;
}
@media (max-width: 980px) {
  .main {
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    grid-row-gap: 20px;
  }
  .main > div:first-child {
    width: 99vw;
  }
}
.online {
  background-color: #ffd300;
}
.seenToday {
  background-color: #7fba00;
}
.offline {
  background-color: #bcbcbc;
}
